/* global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    columns: #333;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

html,
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

/* utilities */

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}

.text-primary {
    color: #f7c0aa;
}

.lead {
    font-size: 20px;
}

.btn {
    display: inline-block;
    font-size: 18px;
    color: white;
    background-color: #333;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    text-decoration: underline;
    font-weight: bold;
    background-color: #f7c0aa;
    color: #444;
}

.btn-light {
    background-color: #f4f4f4;
    color: #333;
}

.dark-background {
    background-color: #333;
    color: white;
}

.light-background {
    background-color: #f4f4f4;
    color: #333;
}

.primary-background {
    background-color: #f7c0aa;
    color: #333;
}

/* clear floats */

.clr {
    clear: both;
}

/* padding */

.py-1 {padding: 10px 0;}

.py-2 {padding: 20px 0;}

.py-3 {padding: 30px 0;}

/* navbar */

#navbar {
    background-color: #333;
    color: white;
    overflow: auto;
}

#navbar a {
    color: white;
}

#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    float: right;
    list-style-type: none;
    margin-right: 70px;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px ;
    text-align: center;
}

#navbar ul li a:hover, 
#navbar ul li a.current {
    background-color: #444;
    color: #f7c0aa;
}

#navbar ul li a:hover {
    font-weight: bold;
}

.logo {
    margin-left: 50px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}

.logo a:hover {
    text-decoration: none;
}

/* footer */

#main-footer {
    text-align: center;
    background-color: #444;
    color: white;
    padding: 10px;
}



/* home page */

/* showcase */

#showcase {
    background: url("/projects/hotel_project/img/showcase.jpg") 
    no-repeat center center/cover;
    height: 600px;
}

#showcase .showcase-content {
    color: white;
    text-align: center;
    padding-top: 170px;
}

#showcase .showcase-content h1 {
    font-size: 60px;
    line-height: 1.2em;
}

#showcase .showcase-content p {
    padding-bottom: 20px;
    line-height: 1.7em;
}

/* info */

#home-info {
    max-height: 400px;
}

#home-info .info-img img {
    float: left;
    width: 50%;
    background: url("/projects/hotel_project/img/photo-1.jpg") no-repeat;
    min-height: 100%;
    max-height: 400px;
}

#home-info .info-content {
    float: right;
    width: 50%;
    min-height: 400px;
    overflow: hidden;
    padding: 50px 30px;
    text-align: center;
}

#home-info .info-content a {
    margin-top: 25px;
}

/* features */

#features .box {
    float: left;
    width: 33.3%;
    padding: 50px;
    text-align: center;
}

.box i {
    margin-bottom: 15px;
}



/* About page */
/* top section */

#about-info {
    height: 450px;
}

#about-info .about-content {
    float: left;
    width: 50%;
    padding: 20px 30px;
}

#about-info .about-content h1 {
    font-size: 40px;
}

#about-info .about-img {
    width: 50%;
    height: 450px;
    float: right;
}

#about-info .about-img img {
    display: block;
    max-height: 300px;
    margin: auto;
    margin-top: 60px;
    border-radius: 50%;
}



/* testimonials section */

#reviews {
    height: 500px;
    background: url("/projects/hotel_project/img/test-bg.jpg") no-repeat center center/cover;
}

#reviews h2 {
    display: block;
    padding: 50px;
    text-align: center;
    font-size: 35px;
    color: white;
}

#reviews .customer-review {
    height: 30%;
    display: block;
    border-radius: 15px;
    width: 1150px;
    margin: auto;
    margin-bottom: 30px;
    opacity: 0.85;
}

#reviews .customer-review .container {
    height: 100%;
}

#reviews .customer-img img {
    float: left;
    height: 100px;
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 50%;
    
}

#reviews .customer-content {
    display: block;
    margin: auto;
    padding-top: 20px;
}


/* Contact page */

/* form */

#contact-form h1 {
    font-size: 40px;
    margin-top: 30px;
}

#contact-form .form-entry {
    padding-bottom: 20px;
}

#contact-form .form-entry label {
    display: block;
    padding-bottom: 5px;
}

#contact-form .form-entry input {
    width: 100%;
    padding: 10px;
    border: solid 1px #c2c2c2;
}

#contact-form .form-entry textarea {
    height: 200px;
    width: 100%;
    border: solid 1px #c2c2c2;
}

#contact-form .form-entry textarea:focus,
#contact-form .form-entry input:focus
 {
    border: solid 3px #f7c0aa;
    outline: none;
    border-radius: 5px;
}

/* contact page lower section */

#contact-info {
    background-color: #333;
    margin-top: 30px;
}

#contact-info .box {
    display: block;
    float: left;
    height: 300px;
    width: 33.3%;
    padding: 50px;
    text-align: center;
    background-color: #333;
    color: white;
}

#contact-info .box i {
    margin-bottom: 15px;
}
